<h1>create new problem</h1>

<% form_for :problem, :url => { :action => 'create' } do |f| %>
  <p>
    <%= f.label :title, "Title" %><br/>
    <%= f.text_field 'title' %>
  </p>
  <p>
    <%= f.label :description, "Description" %><br/>
    <%= f.text_area 'description' %>
  </p>
  <p>
    <%= f.label :definitions, "Definitions (optional)" %><br/>
    <%= f.text_area 'definitions' %>
  </p>
  <p>
    <%= f.label :theorem, "Theorem" %><br/>
    <%= f.text_area 'theorem' %>
  </p>
  <p>
    <%= f.label :verifier, "Verifier" %><br/>
    <%= f.text_area 'verifier' %>
  </p>
  <p>
    <%= f.label :assumption, "Assumption (optional)" %><br/>
    <%= f.text_area 'assumption' %>
  </p>
  <%= submit_tag %>
<% end %> 
